@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');



*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color: rgb(221, 220, 220);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;

}
.sidebar nav{
    padding: 30px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: blue; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
    height: 60vh;
}
.devinfo{
    font-size: 16px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Sedgwick Ave', cursive;
}
.hello{
    font-size: 3em;
}
.name{
    font-size: 3em;
    font-weight: bold;
}
.about{
    font-size: 2.5em;
}
.btn{
    margin-top: 2.2em;
}
.btn{
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: rgb(49, 151, 253);
    font-weight: bold;
    font-size: 18px;
    margin: 0 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: rgb(49, 151, 253);

}
.moreabout{
    font-size: 2em;
    margin-top: 20px;
}
.contactform{
    margin: 50px 88px;
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}
.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;

}
.contactform form{
    margin: 0 30px;

}
#emailHelp{
    font-size:11px;
    color: rgb(0, 0, 0);
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check-input{
    width: 24px;
    margin: 3px 0;
}
.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
   
    margin: 10px 0;
}
.intro{
    margin: 10px 80px;
}
.intro h1{
    font-family: 'Fira Sans', sans-serif;
    margin:12px;
}
.intro p{
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
}
.skillitem{
    display: flex;
    align-items: center;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.hundered{
    width: 265px;
}
.fifty{
    width: 135px;
    background-color: royalblue;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.t4{
    width: 100px;
    background-color: yellow;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 10px;
}
.cross{
    margin-left: 165px;
}
@media (max-width:700px){
   /* .sidebar{
       transform: translate(-443px,0px);
       position: absolute;
   } */
   .btns{
       font-size: 6px;
   }
   .devinfo{
       font-size: 10px;
   }
   .devpic{
       display: none;
   }
   .intro,.contactform{
       margin: 50px 8px;
   }

}
